#cad-func{
    background-color: #5697cf;
}

#menuTab{
    text-align: center;
}

#menuTab a{
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav.nav-tabs{
	margin-bottom: 10px;
    margin-top: 10px;
}

.nav-tabs li a{
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}

.nav-tabs>li>a:hover {
    color: #5697cf;
}

.input-group#name{
    display:inline-block;
}

.form-group #search-name{
    position: absolute;
    height: 9%;
    margin-left: -39px;
    border-radius: 0;
}

#myModal .form-group #searchName{
    position: absolute;
    height: 100%;
    margin-left: -3px;
}

#cad-func .col-sm-12.form-func{
    margin-top: 20px;
}

#cad-func .sexo,
#cad-func .label-masc{
  padding-right: 10px;
}
