#menuTab{
    text-align: center;
}

#menuTab a{
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}

#menuTab .sub-menu a{
  font-size: 15px;
}

#home{
    background-color: #5697cf;
}

.nav.nav-tabs{
	margin-bottom: 10px;
    margin-top: 10px;
}

.nav-tabs li a{
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}

.nav-tabs>li>a:hover {
    color: #5697cf;
}

#fast-buttons {
    text-align: center;
}

.btn-outline-primary {
    color: #20a8d8;
    background-color: transparent;
    background-image: none;
    border-color: #20a8d8 !important;
}

.btn-outline-warning {
    color: #fabb3d;
    background-color: transparent;
    background-image: none;
    border-color: #fabb3d !important;
}

.btn-outline-danger {
    color: #ff5454;
    background-color: transparent;
    background-image: none;
    border-color: #ff5454 !important;
}

/* Reset CSS */
*, *:after, *:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

/* Fundo do menu */
.menu{
  background: transparent;
}

/* Remove as bolinhas do lado das listas */
.menu .menu-list, .menu .sub-menu{
  list-style: none;
}

/* Configura todos os links do nosso menu */
.menu a{
  color: #fff;
  text-decoration: none;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing:0.2em;
}

/* Faz os <li>s ficarem na horizontal */
.menu > .menu-list > li{
  float: left;
  position: relative;
}

/* Configura os links do menu principal */
.menu > .menu-list > li > a {
  padding: 20px;
  margin: 0 5px;
  background: transparent;
}

/* Configura o fundo do menu principal quando com mouse hover */
.menu > .menu-list > li:hover a {
  background: transparent;
}

/* Mostra o submenu no evento de mouse hover */
.menu > .menu-list > li:hover > .sub-menu {
  display: block;
}

/* Configura o estilo do submenu */
.menu > .menu-list > li > .sub-menu {
  position: absolute;
  top: 50px;
  left: -50px;
  background: #5697cf;
  border: solid 1px #000;
  min-width: 200px;
  z-index: 1000;
  display: none;
}

/* Configura os links do submenu */
.menu > .menu-list > li > .sub-menu > li > a {
    padding: 10px 20px;
}

/* Clearfix para o menu */
.menu:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#home .card{
  background: transparent;
  border: none;
}

#home #table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #c2cfd6;
    padding: 0.35rem;
    color: #000;
    font-size: 16px;
    font-style: italic;
}

#home #table tbody td,
#home #table tbody td a {
    text-transform: capitalize;
    font-weight: bolder;
    color: #000;
}

#home .card-body .title-agenda {
    text-transform: uppercase;
    color: #000;
}