#listar{
    background-color: #5697cf;
}

#menuTab{
    text-align: center;
}

#menuTab a{
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav.nav-tabs{
	margin-bottom: 10px;
    margin-top: 10px;
}

.nav-tabs li a{
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}

.nav-tabs>li>a:hover {
    color: #5697cf;
}

.card-body{ 
    flex: 1 1 auto;
    padding: 1.25rem;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

#table thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

#table thead tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

#table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #c2cfd6;
    padding: 0.35rem;
    font-size: 16px;
    font-style: italic;
}

#table tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

#listar #table tbody td{
    font-weight: bolder;
}

#listar .card{
  background: transparent;
  border:none;  
}