#page-login{
	background:url(../images/joe-1440x900.jpg) center center no-repeat fixed;
	 -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#form-login {
    background: transparent;
    border: 2px solid #c3c3c3;
}

#form-login .card-body h1{
	text-align: center;
	text-transform: uppercase;
	color: #75746f;
}

#form-login .card-body input{
	font-size: 13px;
}

#form-login #forgot-password{
	color: #fff;
	font-weight: bold;
	font-size: 13px;
}

#form-login #btn-login,
#form-login #btn-login:focus{
	background: #75746f;
    border: 2px solid #c3c3c3;
    font-weight: bold;
}

