#recover-password{
	background:url(../images/joe-1440x900.jpg) center center no-repeat fixed;
	 -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#recover-password #recupera_senha{
	background: transparent;
}

 #recupera_senha h1,
 #recupera_senha p{
  	text-align: center;
 }

#recupera_senha p{
	font-size: 12px;
	font-weight: bolder;
}

#recupera_senha input{
	font-size: 14px;
}

#recupera_senha #enviar{
	color: #fff;
	background: #c3c3c3;
    font-weight: bold; 
}